LOCATE COMP "clk_25mhz" SITE "G2";
IOBUF  PORT "clk_25mhz" IO_TYPE=LVCMOS33 PULLMODE=NONE;
FREQUENCY PORT "clk_25mhz" 25.000000 MHz;

LOCATE COMP "btn_pwr"  SITE "D6";
IOBUF  PORT "btn_pwr"  IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "ftdi_rxd" SITE "L4";   # FPGA transmits to FTDI
LOCATE COMP "ftdi_txd" SITE "M1";   # FPGA receives from FTDI
IOBUF  PORT "ftdi_rxd" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
IOBUF  PORT "ftdi_txd" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "led[0]"   SITE "B2";
LOCATE COMP "led[1]"   SITE "C2";
LOCATE COMP "led[2]"   SITE "C1";
LOCATE COMP "led[3]"   SITE "D2";
IOBUF  PORT "led[0]"   IO_TYPE=LVCMOS33;
IOBUF  PORT "led[1]"   IO_TYPE=LVCMOS33;
IOBUF  PORT "led[2]"   IO_TYPE=LVCMOS33;
IOBUF  PORT "led[3]"   IO_TYPE=LVCMOS33;
